*.class
*.swp
*.iml
.DS_Store
.metadata
.crashlytics_data
com_crashlytics_export_strings.xml
crashlytics-build.properties
bin/
build/
gen/
local.properties
.gradle
.idea/libraries
.idea/modules.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries

